@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

.rectangle-1 {
  width: 65%;
  height: 879px;
  background: rgba(239, 244, 240, 1);
  position: absolute;
  top: 0px;
  z-index: -1;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.logo {
  color: rgba(8, 46, 33, 1);

  font-size: 36px;
  font-weight: bolder;
}

.nav-1 ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 80px;
}


.nav-1 ul li a {
  font-size: 20px;
  font-weight: bolder;
  color: rgba(138, 138, 138, 1);
  text-decoration: none;
}

.nav-1 ul li a:hover{
    color: rgba(8, 46, 33, 1);
    
}

.nav-2 ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 60px;
}

.nav-line {
  height: 45px;
  border: 1px solid rgba(138, 138, 138, 1);
}

.frame{
    padding-top: 280px;
    padding-left: 120px;
}

.frame .title{
    font-size: 20px;
    font-weight: 500;
    color: rgba(138, 138, 138, 1);
}

.frame .body{
    font-size: 90px;
    font-weight: bold;
    color: rgba(8, 46, 33, 1);
}

.btns{
    margin-top: 65px;
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.shopnow{
    font-size: 20px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 46, 33, 1);
    padding: 25px 65px;
    border: transparent;
}

.watchvideo{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.txt{
    font-size: 20px;
    font-weight: bold;
}

.group{
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin-top: 40px;
}

.frame1{
    font-size: 55px;
    font-weight: 400;
}

.line{
    width: 2px;
    height: 150px;
    background: rgba(138, 138, 138, 1);

}

span{
    font-size: 20px;
    font-weight: 500;
    color: rgba(138, 138, 138, 1);
}

.rectangle-image{
    position: absolute;
    top: 150px;
    left: 835px;
}

.aboutus{
    padding-top: 920px;
}

.head{
    font-size: 55px;
    font-weight: 400;
    text-align: center;
}



